.producto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 33%;
    float: left;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 10px;
}


.producto-imagen {
    width: 200px; /* Ajusta este valor según tus necesidades */
    height: 200px; /* Ajusta este valor según tus necesidades */
    object-fit: cover; /* O puedes usar 'contain' si prefieres */
    margin-top: 10px;
    margin-bottom: 10px;
}
#carrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative
}   
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 600px; /* Puedes ajustar este valor */
  max-height: 80%; /* Puedes ajustar este valor */
  width: auto;
  height: auto;
}

/* Image container */
#imgContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navigation buttons */
#imgContainer button {
  background: none;
  color: white;
  border: none;
  font-size: 2em;
  padding: 10px;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.total {
    font-size: 200%; /* Hace que el texto sea 200% más grande */
    text-align: center; /* Centra el texto */
    width: 100%; /* Asegura que el bloque de texto ocupe todo el ancho posible */
    position: absolute; /* Posiciona el bloque de texto de manera absoluta */
    bottom: 0; /* Coloca el bloque de texto en la parte inferior del contenedor */
}
